# COGS 108 - Data Checkpoint

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

<a id='research_question'></a>
# Research Question

*Fill in your research question here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [6]:
## YOUR CODE HERE
import pandas as pd

# Data Cleaning

Describe your data cleaning steps here.

In [8]:
## YOUR CODE HERE
global_death = pd.read_csv('CONVENIENT_global_confirmed_cases.csv')
global_death
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom.10,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australian Capital Territory,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2,1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,2/6/21,65.0,1130.0,0.0,34.0,32.0,11.0,6680.0,211.0,0.0,...,18262.0,509.0,56.0,0.0,412.0,9.0,470.0,3.0,1000.0,156.0
382,2/7/21,5.0,1124.0,459.0,45.0,24.0,11.0,3658.0,151.0,0.0,...,15845.0,499.0,53.0,0.0,473.0,16.0,572.0,0.0,1206.0,65.0
383,2/8/21,24.0,953.0,225.0,24.0,26.0,17.0,5154.0,89.0,0.0,...,14104.0,339.0,64.0,0.0,480.0,49.0,612.0,4.0,940.0,106.0
384,2/9/21,25.0,1239.0,246.0,37.0,51.0,0.0,7794.0,123.0,0.0,...,12364.0,503.0,42.0,0.0,500.0,14.0,762.0,0.0,1037.0,123.0
385,2/10/21,18.0,1143.0,223.0,40.0,47.0,34.0,7739.0,196.0,0.0,...,13013.0,625.0,33.0,0.0,380.0,27.0,761.0,2.0,963.0,83.0

# Project Proposal (updated)

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/1  | 10 AM  | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/14  | 6 PM  | Import & Wrangle Data (Ant Man); EDA (Hulk) | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM  | Finalize wrangling/EDA; Begin Analysis (Iron Man; Thor) | Discuss/edit Analysis; Complete project check-in |
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion (Wasp)| Discuss/edit full project |
| 3/19  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |